:root {
  --color-bg: #69f7be;
  --color-text-main: ##f0fff0;
  --color-primary: #f0fff0;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Stick";
  --font-family-header: "Stick";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */

@font-face {
  font-family: Stick;
  src: url("https://fonts.googleapis.com/css2?family=Stick&display=swap")
    format("opentype");
}
@font-face {
  font-family: Stick;
  font-weight: bold;
  src: url("https://fonts.googleapis.com/css2?family=Stick&display=swap")
    format("opentype");
}

body {
  font-family: Stick;
  background-image: url("https://cdn.glitch.me/19179d05-053f-438b-98d8-05a32e66c1e5/sbs.gif");
  background-size: cover;
  background-position: center;
}

#gifContainer {
  display: flex;
  flex-wrap: wrap;
}

.gif {
  width: 10%;
  height: 10%;
  margin: 10px;
  cursor: pointer;
}

h1 {
  font-family: Stick;
  font-size: 100%;
}
h2 {
  font-family: Stick;
  color: #2800ff;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#iframeContainer {
  position: relative;
}

#iframe {
  width: 80%;
  height: 80%;
  border: none;
}

